@import "variables";

label,
.label {
    font-weight: bold;
}

.inputs-inline {
    @media only screen and (max-width: $desktop-breakpoint) {
        & > input {
            margin-bottom: 20px;
            display: block;
            width: 100%;
            max-width: 380px;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        & > input {
            margin-bottom: 0;
            width: 32%;
        }

        & > input:nth-child(n+4) {
            margin-top: 15px;
        }
    }
}

.form {
    &-group {
        margin-bottom: 10px;

        &-accent {
            label {
                color: $accent-color;
            }

            input[type='text'],
            input[type='number'],
            input[type='email'],
            input[type='password'],
            input[type='tel'],
            textarea {
                border-color: $accent-color;
            }
        }

        @media only screen and (min-width: $desktop-breakpoint) {
            margin-bottom: 26px;
        }
    }

    &-submit {
        width: 100%;
        max-width: 380px;

        @media only screen and (min-width: $desktop-breakpoint) {
            width: auto;
        }
    }

    &-control {
        width: 100%;
    }

    &-border {
        border: 2px solid $accent-color;
        padding: 28px 20px 30px;
        max-width: 620px;
        margin: 3rem 0 1rem;

        @media only screen and (min-width: $desktop-breakpoint) {
            padding: 38px 26px 40px;
        }
    }

    &-captcha {
        margin-bottom: 1rem;
    }

    &-title {
        padding: 1rem 0;

        &-line {
            overflow: hidden;

            &::after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                height: 100%;
                margin-right: -100%;
                margin-left: 30px;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}

.input {

    &-text {
        width: 100%;
        max-width: 380px;
    }

    &-group {
        margin-bottom: 15px;

        label {
            display: inline-block;
            margin-bottom: 4px;
        }
    }

    &-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        & + label {
            display: block;
            cursor: pointer;
            margin-bottom: 0;
            position: relative;

            &.active {
                padding-left: 34px;
                &::before {
                    content: "\2715";
                    display: inline-block;
                    vertical-align: middle;
                    font-family: "Verdana", sans-serif;
                    font-weight: bold;
                    font-size: 20px;
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    z-index: 0;
                }
            }

            span {
                color: $link-color;
                display: inline-block;
                line-height: 1.2;
                border-bottom: 1px solid $link-color;
                position: relative;
                margin-left: 35px;

                &:hover {
                    border-bottom-color: transparent;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    position: absolute;
                    left: -35px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 19px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAVCAYAAABG1c6oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT1JREFUeNqslN9xgkAQxrnEAswrT6QDGCkgdiAdQAUxFaSEjBWYVBA60AJ0sIPwhD7SQfJ9mWVmVYSF8WZ2jr1dfiz755w3csXx7AUbJd/t9ofm3I0ATbF9QwLIFrIQaEb7wwjYBsI9EsgzJITtY1CEClZDEsBqZWO0PzhzZhikgKw7fH5Nv6wiOzR5avFZSj69yR1grDTzF3Xm0AgLxecNPp88e7TC+Fu+75+q6li3waCnsBfOCGMxQujRLRie6ZNNumBK55r3wag7K4x91wK7yqG7J0z3Icteqmr+w4fCdB+mMpOMlsM+VQUxw84aG8aypUDBEJjOIefwqRl46BuBBU31LDCdwxyyVNGyRRL5iBmmI+QLhRRh2zdevUB5MZVqM9ovufdYoFcr7OpykIvyXXLnCXR1GXXX+hNgAPKo9BIATXd2AAAAAElFTkSuQmCC');
                }
            }

        }
    }

    &-date {
        display: flex;
        flex-direction: row;
        flex-basis: 0;
        flex-wrap: nowrap;
        max-width: 220px;
        border: 1px solid $input-border-color;
        border-radius: 2px;
        transition: .1s;
        box-sizing: border-box;

        & > input {
            border: 0;
            border-radius: 0;
            width: 33.666666%;

            &:not(:last-child) {
                border-right: 1px solid $input-border-color;
            }
        }
    }

    &-price {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 380px;

        input {
            width: 100%;
            padding-right: 50px;
        }

        &__rub,
        &__kop {
            width: calc(50% - 10px);
            flex-grow: 0;
            flex-shrink: 1;
            position: relative;

            &::after {
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                right: 12px;
                padding: 12px 0;
                top: 0;
                color: #8a8a8a;
            }
        }

        &__rub {
            &::after {
                content: "р.";
            }
        }

        &__kop {
            &::after {
                content: "коп.";
            }
        }
    }

    &-note {
        position: relative;

        &__note {
            background-color: #cee9fd;
            color: #808080;
            margin-top: 12px;
            padding: 9px 20px;
            position: relative;

            &::before {
                content: "";
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 6px solid #cee9fd;
                position: absolute;
                top: -6px;
                left: 60px;
            }
        }

        @media only screen and (min-width: $desktop-breakpoint) {
            &__note {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                left: 398px;
                margin: 0;

                &::before {
                    left: -9px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-left: 0;
                    border-right: 9px solid #cee9fd;
                    border-bottom: 10px solid transparent;
                    border-top: 10px solid transparent;
                }
            }
        }
    }
}

.custom-radio {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    & + label {
        display: block;
        cursor: pointer;
        position: relative;
        padding-left: 33px;
        margin-bottom: 0.8em;
        margin-top: 0.8em;

        &:last-child {
            margin-bottom: 0;
        }

        // &:only-of-type {
        //     margin-bottom: 0.8em;
        // }
    }

    &:not(checked) {
        & + label {
            &::before, &::after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            &::before {
                width: 19px;
                height: 19px;
                border: 1px solid #cccccc;
                left: 0;
                background: #fff;
            }

            &::after {
                width: 9px;
                height: 9px;
                left: 6px;
                background-color: $accent-medium-color;
                z-index: 6;
                opacity: 0;
            }
        }
    }

    &:disabled {
        & + label {
            &::before {
                background: #f0f0f0;
            }
        }
    }

    &:checked + label:after {
        opacity: 1;
    }
}

.custom-checkbox {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    & + label {
        display: block;
        vertical-align: middle;
        cursor: pointer;
        position: relative;
        padding-left: 35px;
        margin-bottom: 10px;
        margin-top: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        // &:only-of-type {
        //     margin-bottom: 10px;
        // }
    }

    &:not(checked) {
        & + label {
            &::before, &::after {
                content: "";
                display: block;
                position: absolute;
                border-radius: 2px;
                top: 50%;
                transform: translateY(-50%);
            }

            &::before {
                width: 19px;
                height: 19px;
                border: 1px solid #cccccc;
                left: 0;
                background: #fff;
            }

            &::after {
                content: "";
                width: 20px;
                height: 20px;
                background: $accent-medium-color;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVRJREFUeNpiVMzYnMDAwNAPxAIMlIEPQFzICDTwPRUMgxvKREXDQECAiRLdWjJ8DDMzTMA0DLCQa5iMMBfDsiJLBj5OVjA/fcYZME2WC0GGzAC6DGbYxC234HIoBiY6KYIxIQByGcybpYsuMlx78gm7l2tDteHs+fvuYzWsO84Abljz6qsMa48/RpFHcSHMJpDBFmrCGIaBxIMtZcDstcefYLUUxcCovuMMn77/BrNBYQQKeBgItpSFB8fuiy+AXr2A1QcoBoIMAxmKHvAg13bH6cN9UbrwIs7wZRY0iWpAFnj96SfDk3ffGdz0JRhE+dgZlCV4GDLcVRjYWZnBFvq0Hob7gqALYQAU0KAwAgFXoMEgV8Jcj88wvOkQFEbIySEDmHCR+bgAqHD4jy8BJzorMlx7/AkcEcQAvAaSA5gYqAxoYuAHKpoHLmALqWQouAoACDAAMlx3zIIHD6gAAAAASUVORK5CYII=');
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0;
                left: 0;
            }
        }
    }

    &:checked + label::after {
        opacity: 1;
    }
}

.checkbox-text-input,
.radio-text-input {
    min-width: 200px;
    margin-left: 35px;
}

.input-interval {
    position: relative;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    &::before {
        content: "";
        position: absolute;
        background: #8e8e8e;
        width: 13px;
        height: 1px;
        top: 50%;
        transform: translateY(-50%);
        left: 144px;
    }

    &__item {
        width: calc(100% - 10px);

        &:first-child {
            margin-right: 20px;
        }
    }
}

.input-price {
    position: relative;

    input[type='text'],
    input[type='number'],
    .form-control {
        text-align: right;
        padding-right: 40px;
    }

    &::after {
        content: "р.";
        display: block;
        position: absolute;
        font-family: $base-font-family;
        color: #999;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}

.input-rating {
    margin: 10px 0;
    padding: 0;
    list-style: none;

    & > li:not(:last-child) {
        margin-bottom: 10px;
    }

    &_label {
        font-weight: normal;
        font-size: 13px;

        .star-array {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            margin-left: 8px;

            .star {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.radio-option {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    & + label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        background-repeat: no-repeat;
        border: 1px solid transparent;
        border-radius: 3px;
        font-weight: normal;
        padding: 2px 8px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &:not(checked) {
        & + label {
            background: #fff;
            color: #000;
            border-color: #d6d4d9;
        }
    }

    &:checked {
        & + label {
            background: #8b1f12;
            box-shadow: inset 0 4px 10px 0px rgba(30,30,30,0.5);
            color: #fff;
            border-color: transparent;
        }
    }
}