$base-font-size: 100%;
$base-font-family: 'SourceSansPro', sans-serif;
$base-font-color: #000;
$base-line-height: 1.6;

$accent-color: #7c150d;
$accent-medium-color: #1267ba;
$accent-darker-color: #2f7fb8;

$border-color: #dcdcdc;

$link-color: $accent-color;

$yellow-color: #ffcb1a;
$yellow-dark-color: #cca215;

$light-grey-color: #f2f2f2;
$dark-grey-color: #ccc;

$desktop-breakpoint: 1024px;
$mobile-breakpoint: 460px;

$paragraph-line-height: 1.3;
$paragraph-margin: 0.6em;

$input-border-color: #cccccc;
$input-focus-color: #96d0fa;
