.showcase {
	width: 100%;
	display: block;
	padding: 12px 20px 30px;
	background: #fff;
	background-image: url("../img/showcase-bg.png");
	background-repeat: no-repeat;
	background-position: center right;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;

	&__content {
		max-width: 60%;
	}

	&__title {
		display: inline-block;
		vertical-align: middle;
		font-size: 10px;
		text-transform: uppercase;
		text-decoration: none;
		color: #000;
		line-height: 1.6;
		margin-bottom: 4px;

		&:visited {
			color: #000;
		}
	}

	&__price {
		display: block;
		white-space: nowrap;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 8px;

		&__old {
			display: inline-block;
			vertical-align: middle;
			background-image: url("../img/old-price-bg.png");
			background-repeat: no-repeat;
			background-position: top center;
			background-size: contain;
			font-size: 15px;
			color: $accent-color;
			margin-left: 10px;
			padding: 0 14px;
		}
	}

}